.HomeScreen {
    width: 100vw;
    height: 90vh;
}

.hero-image {
  background-image:  url("../../../public/heroPetunia.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: #334173
}

.subtitle {
    background-color: #334173;
    margin: 0px !important;
    padding: 5px !important;
    color: #faf7f2; ;
}

.hero-btn {
  border-radius: 20px;
}

.hero-title {
  font-size: 70px;
  font-weight: bold;
}

.hero-text p {
  color: #faf7f2;
  font-size: 30px;
}

.hero-text btn-submit {
  color: white;
  background-color: #EE7854!important;
  border-radius: 20px;
}

