.btn-delete {
    background-color: #c31515;
    border-radius: 20px;
    width: 50px;
    color: white;
}

.btn-edit {
    background-color:#334173;
    border-radius: 20px;
    width: 50px;
    color: white;
}

.card-address {
    background-color: rgb(231, 233, 231);
    width: 300px;
}

.card-border {
    border: 1.5px solid  #3A5248;
    border-radius: 10px;
    padding: 15px;
}   