.btn-cart, .btn-cart:active, .btn-cart:visited {
    background-color: #2C6456 !important;
    border-radius: 20px;
    width: 60px;
    color: #f3f4f4;
}

.card {
    background-color: #f3f4f4;
}

.card-img-top:hover {
    filter: brightness(.9);
}

.card-img-top {
    max-width: 250px;
    max-height: 250px;
}
