body {
  background-color: #faf7f2;
  font-family: 'DM sans' !important
}

.error {
  color: red;
}

.btn-submit {
    color: white;
    background-color: #A29F44 !important;
    border-radius: 20px;
}

.btn-submi:hover {
  color:  #3A5248;
}




