body {
  background-color: #f3f4f4;
  font-family: 'DM sans' !important;
}

.error {
  color: red;
}

.btn-submit {
    color: white;
    background-color: #EE7854 !important;
}

.btn-submit:hover {
  color:  white
}

.jumbotron {
  background-color:  #f3f4f4 !important;
}


