body {
  background-color: #faf7f2;
  font-family: 'DM sans' !important;
}

.error {
  color: red;
}

.btn-submit {
    color: white;
    background-color: #EE7854 !important;
    border-radius: 20px;
}

.btn-submit:hover {
  color:  #7D8EC4
}

.jumbotron {
  background-color: #faf7f2 !important;
}

